@media (max-width: 576px) { 
    body,
    main{
        overflow: scroll;
    }

    header{
        margin-bottom: 1rem;
    }

    main{
        margin-top: 1rem;
        height: 100vh;
    }

    #commitment-section{
        height:100vh;
    }
    
}