/*DEFINICIÓN DE VARIABLES*/
*{
    --main-color: #6e07f3;
    --main-color-opacity: #6d07f376;
    --secondary-color: #5BE9B9;
    --third-color: #141C3A;

    --light-color: snow;
    --dark-color:#141C3A;
    
}

